/**
 * source: hint-multiline.scss
 *
 * Defines tooltip that can wrap to multiple lines
 *
 * Classes added:
 *  1) hint--multiline
 *
 */

// Remove animation from tooltips.
.#{$prefix}multiline {
  &:after {
    min-width: 160px;
    max-width: 160px;
    white-space: normal;
    text-align: left;
  }
}